html, body {
    width: 100%;
    height: 100%;
    background: var(--customs-background-gradient);

}

body {
    font-size: calc(15px + 0.390625vw);
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--customs-accessible-text);
}

a {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

canvas {
    display: block;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
}

/* a:hover {
    box-shadow:var(--customs-shadow-box);
    transition: .5s;
} */
.shadow {
    box-shadow:var(--customs-shadow-box);
}

.shadow-modal {
    box-shadow:var(--customs-shadow-modal);
}

.black-arrow {
    width: 1.5em;
    animation: arrowMouv 2.5s infinite; /* Répète l'animation indéfiniment */
    transition: transform 1.5s; /* Transition de 1.5s pour un mouvement fluide */
    cursor: pointer;
}

.black-arrow-hamburger{
    display: none;
}

.important {
    color: var(--customs-solid-color);
}

@keyframes arrowMouv {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem); /* Déplace la flèche vers le bas */
    }
    100% {
        transform: translateY(0);
    } 
}