.portrait{
    background-color: var(--customs-solid-color);
    background-image: url('../../../public/img/roms.png');
    background-size: cover;
    border: 1px solid var(--customs-accessible-text);
    box-shadow: var(--customs-shadow-box);
}

.social__list--li--a {
    background-color: var(--customs-solid-color);
    color: var(--customs-accessible-text);
    font-family: "Rajdhani", sans-serif;
}

.social__list--li--a:hover {
    background-color: var(--customs-interactive-components);
    color: var(--customs-blue-contrast-text-color-on-dark-back);
    transition: .2s;
}
