/* .portrait{
    background-image: url('../../assets/img/roms.png');
    background-size: cover;
    border: 1px solid var(--customs-accessible-text);
    box-shadow: var(--customs-shadow-box);
    backdrop-filter: blur(30px);
} */