.portrait{
    /* background-color: #3A4F97; */
    background-image: url('../../../public/img/roms.png');
    background-size: cover;
    border: 1px solid var(--customs-accessible-text);
    box-shadow: var(--customs-shadow-box);
    backdrop-filter: blur(20px);
}

.social-a {
    background-color: var(--customs-solid-color);
    color: var(--customs-accessible-text);
    font-family: "Rajdhani", sans-serif;
}

.social-a:hover {
    background-color: var(--customs-accessible-text);
    color: var(--customs-interactive-components);
    box-shadow:var(--customs-shadow-box);
    transition: .2s;
}
