:root {
    --customs-background-color: #141726;
    --customs-background-gradient:linear-gradient(137deg, rgb(34, 193, 195) 0%, rgb(34, 195, 136) 100%);
    --customs-interactive-components: #253974;
    --customs-borders-and-separator-color:#3A4F97;
    --customs-borders-color:#bee3ff9b;
    --customs-solid-color:#0090FF;
    --customs-accessible-text: #f1f4fd;
    --customs-shadow-box: 0px 11px 15px -8px #14172688;
    --customs-shadow-modal:0px 0px 30px 30px #1417266d;
    --customs-shadow-text:0px 0px 10px rgba(214,225,255,0.6);
} 
