:root {
    --customs-background-gradient:linear-gradient(137deg, rgb(34, 193, 195) 0%, rgb(34, 195, 136) 100%);
    --customs-solid-color:#0090FF;
    --customs-shadow-box: 0px 11px 15px -8px #14172688;
    --customs-shadow-modal:0px 0px 30px 30px #1417266d;
} 
