.logo:hover {
    box-shadow: none;
}

/* .navbar__liens__list--puce--a {
    position: relative;
    background-color: var(--customs-accessible-text);
    padding: 1rem 3rem;
    width: 5em;
    border-radius: 100px;
    color: var(--customs-interactive-components);
    text-transform: uppercase;
    z-index: 0;
} */

/* .navbar__liens__list--puce--a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--customs-solid-color);
    border-radius: 100px;
    transition: all 0.4s;
    z-index: 1;
} */



.navbar .menu-hamburger {
    z-index: 1000;
    transition: .5s ease;
}

/* .navbar__liens__list--puce--a:hover::before {
    width: 100%; 
} */

/* .astuce-Fred {
    color: var(--customs-interactive-components);
    z-index: 2;
    position: relative;
    transition: 0.4s;
} */

/* .navbar__liens__list--puce--a:hover .astuce-Fred {
color: var(--customs-accessible-text);
} */

.logo {
    z-index: 1001;
}
.menu-hamburger-rotate {
    rotate: 90deg;
}
.navbar__liens {
    background-color: var(--customs-interactive-components);
    margin-top: -100vh;
    transition: all 0.5s ease;
    z-index: 1000;
}

.mobile-menu {
        margin-top: 0;
    }