/* .project-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
} */
.project {
    border: 1px solid var(--customs-borders-and-separator-color);
}

.carrousel {
    display: flex;
    position: relative;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.project-page h1 {
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(214, 225, 255, 0.6);
}