:root {
    --customs-button-navbar-color: #E9E9E9;
    --customs-blue-background-color: #FFFDEF;

    /* Blue choice */
    --customs-background-color: #0E1511;
    --customs-background-gradient: radial-gradient(circle, rgba(15,46,34,1) 0%, rgba(14,21,17,1) 100%);
    --customs-interactive-components: #1D3A24;
    --customs-borders-and-separator-color:#366740;
    --customs-solid-color:#46A758;
    --customs-accessible-text: #C2F0C2;
    /* Blue testing */
    --customs-background-color: #141726;
    --customs-background-gradient:radial-gradient(circle, rgba(13,21,32,1) 0%, rgba(32,34,72,1) 100%);
    --customs-interactive-components: #253974;
    --customs-borders-and-separator-color:#3A4F97;
    --customs-solid-color:#0090FF;
    --customs-accessible-text: #d6e1ff;

    /* Green choice */
    /* --customs-green-primary-color: #30A46C;
    --customs-green-contrast-text-color-on-dark-back: #B1F1CB;
    --customs-green-contrast-text-color-on-light-back: #0E1512;
    --customs-green-interaction-color: #132D21;*/
} 

