:root {
    --customs-button-navbar-color: #E9E9E9;
    --customs-blue-background-color: #FFFDEF;

    /* Blue testing */
    --customs-background-color: #141726;
    --customs-background-gradient:linear-gradient(149deg, rgba(13,21,32,1) 0%, rgba(13,40,71,1) 100%);
    --customs-interactive-components: #253974;
    --customs-borders-and-separator-color:#3A4F97;
    --customs-solid-color:#3E63DD;
    --customs-accessible-text: #D6E1FF;
    /* Blue choice */
    --customs-blue-primary-color: #0090FF;
    --customs-blue-contrast-text-color-on-dark-back: #C2E6FF;
    --customs-blue-contrast-text-color-on-light-back: #0D1520;
    --customs-blue-interaction-color: #003362;

    /* Green choice */
    --customs-green-primary-color: #30A46C;
    --customs-green-contrast-text-color-on-dark-back: #B1F1CB;
    --customs-green-contrast-text-color-on-light-back: #0E1512;
    --customs-green-interaction-color: #132D21;
}