/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  background: var(--customs-background-gradient);
}

body {
  font-size: calc(15px + 0.390625vw);
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--customs-accessible-text);
}

a {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
}

.shadow {
  box-shadow:var(--customs-shadow-box);
}

.shadow-modal {
  box-shadow:var(--customs-shadow-modal);
}

.black-arrow {
  width: 1.5em;
  animation: arrowMouv 2.5s infinite; 
  transition: transform 1.5s;
  cursor: pointer;
}

.black-arrow-hamburger{
  display: none;
}

.important {
  font-weight: bold;
}

.card-content {
  border: solid 1px var(--customs-borders-color);
  backdrop-filter: blur(10px);
  background-color: rgba(214, 225, 255, 0.1); 
  box-shadow: var(--customs-shadow-box);
}


@keyframes arrowMouv {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1.5rem);
  }
  100% {
      transform: translateY(0);
  } 
}